body{
position: relative;
width: fit-content;
margin: auto;
background-color: lightgray;
/* background-color: rgb(228, 236, 236); */
 
}


.A4{
    width:1100px;
    box-shadow: 0 35px 55px rgba(0,0,0,0, 1);
    border: 0px solid  rgb(77, 77, 119);
    position: relative;
    background-color: white;
    margin: auto;
}

.mail111{
    padding: 30px;
    
    background-color: #313d4f;
    height: auto;
    margin: auto;
   
}
.domain{
    font-family:sans-serif;
    margin-right:250px;
    margin-left: 20px;
    color: #3b8096;
}
.headfont{
    font-size:large; 
    margin-bottom: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    margin-right:250px;
    margin-left: 20px;
    color: white;
}
.profile-photo {
    position: absolute;
    margin-right:3%;
    margin-top:0;    
    top: 45px; 
    right:30px;
    border: 7px solid   #3d8c91;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.icon1{
    width:30px; 
    height: 18px;
}
.icon2{
    height: 15px; 
    width: 20px;
}
.icon3{
    width:15px; 
    height: 15px;
}
.icon4{
    height: 15px; 
    width: 15px;
}
.bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1b2330;
    color: #fff;
    height:100px;
    padding:15px;
    margin: auto;
}

.bar i {
    margin-right: 10px;
}

.bar1,
.bar2 {
    display: inline-block;
    font-family: sans-serif;
    flex: 1;
}

.bar1 {
    color: aliceblue; 
    text-decoration: none;
    margin-bottom: 10px;
}
.iconspart1{
    font-size: larger;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;

}
.iconspart2{
    padding: 25px;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;

}

.container {
    display: flex;
    margin-top: 0px;
}

.card {
    flex: 1;
    padding: 20px;
    border: transparent;
}

.topics{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4294a8;
    text-decoration: underline;
}

.topics2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
   
}
.college{
    font-family: sans-serif;
    font-size: 25px;
}
.date{  
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: #4294a8;
    font-size:18px;

}
.points{
    font-family: sans-serif;
}
.points2{
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {

    margin: auto; 
    text-align: center;
    padding: 15px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.CERTIFICATES{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
